/* imported fonts */
@font-face {
    font-family: 'HARRYP';
    src: url(fonts/HARRYP__.TTF);
}
/* Google Fonts
font-family: 'Acme', sans-serif;
font-family: 'Inconsolata', monospace; */

body{
    margin: 0;
    color: white;
    background-color: #232323;
    font-family: 'Acme', sans-serif;
}
.allContent{
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
header{
    height: auto;
    background-color: rgb(197, 19, 19);
    border: #c5ad22 5px solid;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 9vw;
    margin-right: 10px;
}
header h1{
    font-family: 'HARRYP', 'Acme', sans-serif;
    letter-spacing: 0.5vw;
    font-size: 4vw;
    margin-left: 10px;
}
.icon{
    background-image: linear-gradient(to right, #ED4264 0%, #FFEDBC  51%, #ED4264  100%);
    float: left;
    padding: 10px 15px;
    margin: 30px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
}
.icon img{
    width: 20px;
}
.icon:hover{
    background-position: right center;
}
.icon:active{
    background-color: rgb(176, 176, 176);
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
main h2{
    font-size: 2rem;
    letter-spacing: 0.3vw;
}
.gameElementsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.controlBar{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.gameBTN{
    display: inline-block;
    background-color: rgb(15, 15, 196);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}
.gameBTN:hover{
    background-color: navy;
}
.gameBTNRound{
    display: inline-block;
    background-color: rgb(15, 15, 196);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}
.gameBTNRound:hover{
    background-color: navy;
}
.announce_box{
    display: none;
}
.roundAnnounce_box{
    display: none;
}
.announce{
    font-size: 3rem;
    text-align: center;
}
.announceRound{
    font-size: 3rem;
    text-align: center;
}
#board{
    height: 540px;
    width: 630px;
    background-color: #944D1F;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 50px;
}
.spot{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 5px #c5ad22 solid;
}
.red-piece{
    background-image: url('../images/HR houses-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.yellow-piece{
    background-image: url('../images/HR houses-02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
footer{
    background-color: black;
    color: white;
    font-size: 1rem;
    height: auto;
    padding: 20px;
    margin-top: 100px;
    font-family: 'Inconsolata', monospace;
}
.characters{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
}
.figures{
    width: 10rem;
    margin: 0 auto;
}

/* Responsive */
@media (max-width: 550px){
    header img{
        height: 50px;
    }
}